# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=e15686eb13e995317aba124fdeddffb3efece7d8c332023bb34e8db45c50d7e437f62b212c9c5a53bb050990683097ee943e92e7146134c3fa3c465da67d6a98
REDIS_URL=redis://localhost:6379/4
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
